@charset "UTF-8";

/*
https://www.funpapelariadivertida.com.br/papelaria-online
https://www.kalunga.com.br/
*/

* {
  margin: 0;
  padding: 0;
  outline: 0;
}

:root {
  --cinza: #637371;
  --rosa1: #f2357b;
  --rosa2: #f2a2b1;
  --rosa3: #f2d8c9;
  --rosa4: #f2dce0;
}

.store-navbar {
  background-color: #f2357b;
  color: #f2dce0;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.store-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.store-navbar li {
  display: inline-block;
}

.store-navbar li a {
  color: #f2dce0;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.store-navbar li a:hover {
  background-color: #f2a2b1;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px 50px 50px 0;
}

.search-bar input[type='text'] {
  padding: 5px;
  font-size: 15px;
}

.header a.carrinho {
  background-color: #f2d8c9;
  color: #637371;
  border-radius: 4px;
  padding: 10px 15px;
}
