body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(107, 143, 241);
}

h1 {
  text-align: center;
}

div {
  text-align: center;
}

div#calculadora {
  width: 300px;
  height: 400px;
  position: absolute; /* permite posicionar a <div> de acordo com coordenadas especificas*/
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%); /*desloca a <div> de volta para cima e para a esquerda em metade de sua largura e altura, efetivamente centralizando-a tanto horizontalmente quanto verticalmente.*/
  border: 1px ridge black;
  background-color: gray;
  box-shadow: 0px 0px 5px black;

}

input {
  width: 250px;
  height: 50px;
  margin: 10px;
  text-align: right;
  font-size: 18px;
  border: 1px ridge black;
  border-radius: 5px;
}

.grid-botoes {
  width: 200px;
  margin: 0 auto;
}

.grid-botoes td {
  text-align: center;
  padding: 5px;
}

.grid-botoes button, button {
  width: 40px;
  height: 40px;
  margin: 4px;
  font-size: 18px;
  border: 1px ridge black;
  border-radius: 5px;
}

.grid-botoes button:hover, button:hover {
  background-color: grey;
  color: white;
}
